body > .header{
    margin: 30px 0;    
}
.header > h2{
    position: relative;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;     
}
.header > h2::before{
    content: '';
    bottom: -5px;
    left: 0px;
    background: var(--secondary-color);
    width: 10%;
    height: 4px;
    border-radius: 10px;
    position: absolute;
}
.create-button{
    margin-bottom: 10px;
}

.edit-box-container{
    height: 400px;
    width: 350px;
    background: var(--light-color);
    margin-top: 10px;
    position: fixed;
    padding: .4rem .6rem;
    top: 10rem;
    left: -333rem;
    z-index: 1000;
    transition: .3s all ease;
}

.edit-box-container .header{
    padding: .4rem .6rem;
    border-bottom: 1px solid var(--white-color);
    margin-bottom: .6rem;
    position: relative;
}

.edit-box-container .header .add-title{
    background: transparent;
    font-size: 1rem;
    color: var(--white-color);
    width: 90%;
    font-weight: 400;
}
.edit-box-container .header .cancel-button,
.right-section .heading .cancel-button{
    position: absolute;
    top: -10px;
    right: -4px;
    cursor: pointer;
    background: #cccccc;
    width: 30px;
    line-height: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.1rem;
    color: var(--primary-color);
}
.edit-box-container .header .cancel-button:hover,
.right-section .heading .cancel-button:hover{
    background: var(--secondary-color);
    color: var(--white-color);
}

.edit-box-container .edit-box{
    width: 100%;
    height: 100%;
    padding: .3rem .5rem;  
}

.edit-box-container .edit-box .edit-area{
    width: 98%;
    height: 75%;
    color: var(--white-color);
    font-size:.9rem;
    font-weight: 300;
    line-height: 1.2rem;
    background: transparent;
    resize: none;
    padding-left: 2px;
}

.edit-box-container .edit-box .create-button{
    position: absolute;
    bottom: 4px;
    right: 6px;
}

.edit-box-container .edit-box .btn-primary{
    padding: .4rem .7rem;
    font-size: .9rem;
    font-weight: 400;
}

.hidden{
    left: 1.5rem;
}

