/* Media queries
Mobile first */
@media(max-width: 440px){
    .main-container{
        display: grid;
        grid-template-columns: 1fr;;
        column-gap: 0;
        position: relative;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    body > .header{
        margin: 15px 0;    
    }
    .header .menu .hamburger-menu{
        display: block;
        align-items: center;
        justify-content: center;
        color: var(--white-color);
        background: 0;
        height: 40px;
        width: 40px;
        text-align: center;
        border-radius: 50px;
        cursor: pointer;
    }
    .header .menu .hamburger-menu:active{
        
        background: var(--light-color);
    }
    .header .menu .hamburger-menu i{
        font-size: 1.1rem;
        background: none;
    }
    .center-section{
        padding: 0;
        max-width: 100%;
    }
    .header > h2{
        font-size: 1.1rem;
    }
    .left-section{
        position: relative;
    }
    .create-button{
        position: fixed;
        bottom: 0;
        right: 33%;
        z-index: 22;
    }
    .btn-primary{
        font-size: .9rem;
    }
    .edit-box-container{
        position: fixed;
        top: 0;
        left: -333rem;
        bottom: 0;
        right: 0;
        border-radius: 0;
        margin: 0;
        height: 100%;
        transition: .3s ease-in-out;
        width:95%;
        padding-top: 10px;
    }
    .edit-box-container .header .cancel-button{      
        position: absolute;
        top: 0;
        right: 0;
    }
    .right-section .heading .cancel-button{
        position: absolute;
        top: 10px;
        right: 20px;
    }
   
    .edit-box-container .edit-box .create-button{
        position: absolute;
        bottom: 20px;
        right: 10px;
    
    }
    .hidden{
        left: 0;
    }
    .notes-list-container .note-item .delete-button{
        position: absolute;
        top: 10px;
        right: 0;
    }
    .right-section{
        position: fixed;
        right: -115rem;
        bottom: 0;
        top: 0;
        border-radius: 0;
        height: 100%;
        max-width: 90%;
        z-index: 2000;
    
    }
    .active{
        right: 0;
    }

    /* nav bar */
    .nav-list{
        display: block;
        position: fixed;
        top: 0;
        left: -855px;
        bottom: 0;
        padding: 3.5rem 1rem;
        z-index: 33333;
        background-color: var(--light-color);
        width: 60%;
        align-items: center;

    }

    .nav-list .counter-notes{
       border-bottom: 1px solid var(--white-color);
       padding-bottom: 8px;
        margin-bottom: 1rem;
    }

    .nav-list .nav-item{
        display: grid;
        grid-template-columns: 20px 80px 20px;
        align-items: center;
        justify-content: flex-start;
        column-gap: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        font-weight: 300;
    }
    .nav-list .nav-item i{
        margin-right: 10px;
        color: var(--secondary-color)
    }

    .nav-list .settings{
        border-top: 1px solid var(--white-color);
        padding-top: 10px;
    }

    .show-nav{
        left: 0;
    }
}